.home .my-photo {
  border-radius: 50%;
  width: 300px;
}

@media screen and (max-width: 800px) {
  .name {
    font-size: 2.5rem !important;
  }

  .home .my-photo {
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .mobile-margin {
    margin-bottom: 20px;
  }
}

.name {
  font-size: 4rem;
  font-weight: 500;
  color: #3b3b3b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sub-heading {
  font-weight: normal;
}

.know-me-text {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.home .get-to-know-me {
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 30px;
}
