.badge {
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  display: block;
}

.badge-info {
  background-color: #ff6a7b;
}

table,
tr,
th,
td {
  border: none !important;
}

th {
  font-size: x-large;
  font-weight: 500;
  text-align: right;
  padding-right: 70px !important;
}
