.content {
  overflow: hidden;
}

.page-spacer {
  height: 25vh;
}

.title-margin {
  height: 7vh;
}

.title-margin-top {
  height: 10vh;
}

.header {
  background-color: rgb(46, 46, 46);
}

.header_link {
  padding: 20px;
  color: #999999;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.selected {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

/* .section {
  height: 40vh;
} */

/* #home {
  background-color: #f8f7f6;
}

#about-me {
  background-color: #ffe8d2;
}

#projects {
  background-color: #8face0;
}

#contact {
  background-color: #c8e08f;
} */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*MOBILE HEADER*/

.mobile-header {
  background-color: rgb(46, 46, 46);
}

.hamburger {
  color: #dadada;
  position: relative;
  z-index: 20;
}

.hamburger:hover {
  color: #666666;
}

@media screen and (max-width: 5000px) {
  .mobile-header,
  .mobile-sidebar {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .mobile-header,
  .mobile-sidebar {
    display: block;
  }

  .header {
    display: none;
  }
}
