.content {
  overflow: hidden;
}

.page-spacer {
  height: 25vh;
}

.title-margin {
  height: 10vh;
}

.title-margin-top {
  height: 10vh;
}

.header {
  background-color: rgb(46, 46, 46);
}

.header_link {
  padding: 20px;
  color: #999999;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.header_link a {
  text-decoration: none;
  color: #999999;
}
.header_link a:hover {
  color: rgb(219, 219, 219);
}

.header_link:hover {
  color: rgb(219, 219, 219);
}

.chart_header svg:hover {
  color: #d24d57;
}

.linkedin_header svg:hover {
  color: #1291cc;
}

.github_header svg:hover {
  color: white;
}

.email_header svg:hover {
  color: orange;
}

.selected {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

.copy-message {
  cursor: pointer;
}

#home {
  background-color: #fff6ee;
  height: 100vh;
}

#about-me {
  background-color: #ffffff;
}

.experience {
  background-color: #fff6ee;
}

#projects {
  background-color: #ffffff;
}

#contact {
  background-color: #d24d57;
}

.developed-by {
  background-color: rgb(58, 58, 58);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*MOBILE HEADER*/

.mobile-header {
  background-color: rgb(46, 46, 46);
}

.hamburger {
  color: #dadada;
  position: relative;
  z-index: 20;
}

.hamburger:hover {
  color: #666666;
}

@media screen and (max-width: 5000px) {
  .mobile-header,
  .mobile-sidebar {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .mobile-header,
  .mobile-sidebar {
    display: block;
  }

  .header {
    display: none;
  }
}
